.query {
  margin-top: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid black 1px;
  border-radius: 10px;
  height: 50px;
  width: 250px;
  padding: 6px;
  background-color: #4dd05c;
}

.query .name {
  font-weight: bold;
}

.query .count {
  border: solid black 1px;
  width: 1rem;
  height: 1rem;
  border-radius: 0.3rem;
  padding: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #78bff9;
}
